* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.mainContainer {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas: 
  "SideBar mainFeature";
}